<div class="container col-md-12">

  <div class="user-container col-md-4">


    <div class="wrapper center-block">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Novos Serviços
        </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              Sem Dados.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h5 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo">
          Acionamento Reverso
        </a>
            </h5>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              Sem Dados.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading active" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="true"
                aria-controls="collapseThree">
          Histórico
        </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body  scroll-down customScroll">
                <ul class="list-group list-group-flush">
                  
                  <app-chamados-list></app-chamados-list>
                  
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>

<div class="col-md-8 pull-right">
        <form #formCadastro='ngForm' (ngSubmit)="onSubmit(formCadastro)">

      <input type="text" placeholder="Nome" (ngModel)="cadastro" name="cadastro" class="txt" required>
     
      <button type="submit" [disabled]="!formCadastro.valid" class="basic-btn">Testar</button>
      
  </form>
  </div>