#toolbar {
    padding:0;
    width:100%;
}

header {
    background:#3B8598;
    width:100%;
}

.basic-btn {
    width:100px;
    margin:0;
}

#page {
    padding:3em;
    margin:0;
}

#page img {
    margin-top:30px;
}

h2 {
    margin:0;
}

.user-container {
    background:white;    
    position:fixed;
    height: 100%;
}

.container-right {
    float: right;
    height: 100%;
    background: white;
}
.scroll-down {
    height:  400px;
    overflow-y: scroll;    
}

.customScroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.customScroll::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.customScroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.wrapper {
    padding-top: 5%;
}

@media(max-width:992px){
 .wrapper{
  width:100%;
} 
}
.panel-heading {
    padding: 0;
	border:0;
}
.panel-title>a, .panel-title>a:active{
	display:block;
	padding:15px;
    color:#555;
    font-size:14px;
    font-weight:bold;
	letter-spacing:1px;
    word-spacing:3px;
	text-decoration:none;
}
.panel-heading  a:before {
   font-family: 'Glyphicons Halflings';
   content: "\e114";
   float: right;
   transition: all 0.5s;
}
.panel-heading.active a:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}

@media (max-width: 600px) {
    #page {
        padding:1em;
    }
    #toolbar {
        width:90%;
        margin-left: -45%;
    }
}